a.active-link {
  background: white;
  color: #021359 !important;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  transition: background 0.2s, color 0.2s;
  pointer-events: none;
}

.nav-btn {
  background: #021359;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.nav-btn:hover {
  background: white;
  color: #021359;
}
